@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb !important; 
  color: #111827 !important; 
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #f9fafb !important;
    color: #111827 !important;
  }
}